.app-container{
    overflow: auto;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(34, 34, 59);
}

::-webkit-scrollbar-thumb{
   background-color: rgb(150, 150, 150);
}

.Header{
   display: flex;
    align-items: center;
    gap: 54%;
}

  

